/* initial setting */
/* *__=============== initial settin ===============__ */
/* #region  */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    --orange: #ff9a76;
    --pink: #ff6f91;
    --gradient: linear-gradient(90deg, var(--orange), var(--pink));
    --hover-orange: #d48163;
    --hover-pink: #c75a74;
    --bg-dark: rgba(40, 40, 40, 0.85);
    --item-bg: rgba(255, 255, 255, 0.15);
    --item-hover: rgba(255, 255, 255, 0.25);
    --color-text: #ffffffe0;
    --color-text-title: #fff;
    --color-text-tip: #ffffffc4;
    --color-text-important: #ffb3c1;
}

body {
    background: var(--gradient);
    color: var(--color-text);
}

button {
    cursor: pointer;
    border: none;
    font-size: 1.1rem;
    font-weight: bold;
    background-color: inherit;
}

input{
    cursor: text;
    border: none;
    font-size: 1.1rem;
    outline: none;
    background-color: inherit;
}

h1,
h2,
h3 {
    color: var(--color-text-title);
}

.box {
    border-radius: 0.25rem;
    box-shadow: 0 0 5px 1px #0000003e;
}

/* #endregion */

/* *__=============== container ===============__ */
/* #region */
.app {
    background-color: var(--bg-dark);
    width: 85%;
    min-width: 37rem;
    max-width: 47rem;
    margin: 5% auto;
    min-height: 25rem;

    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

/* #endregion */

/* *__=============== toolbar ===============__ */
/*  #region  */
.toolbar {
    width: 85%;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.toolBtn {
    color: var(--color-text);
    background-color: var(--pink);
    padding: 0.2rem 0.7rem;
    transition: background 500ms ease, filter 500ms ease;
}

.toolBtn:hover {
    background-color: var(--orange);
    filter: brightness(1.1);
}

#addInput {
    background-color: var(--item-bg);
    color: var(--color-text);
    text-align: center;
    flex-grow: 3;
}

#addInput:focus {
    border: 1px solid var(--pink);

}

#addInput::placeholder {
    text-align: center;
    color: #ffffff5c;
}

/* #endregion */

/* *__=============== columns ===============__ */
/* #region  */
.columns {
    width: 85%;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.column {
    width: 100%;
    background-color: var(--item-bg);
    display: grid;
    align-content: space-between;
    min-height: 23rem;
    padding: 1rem 0;
    text-align: center;
    position: relative;
}

.colHead {
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

#noTodo{
    color: var(--orange);
    font-size: 3.5rem;
    position: absolute;
    top: 34%;
    left: 50%;
    translate: -50% ;
    transform:  rotate(-45deg);
    text-wrap: nowrap;
    display: none;
}

.list {
    padding: 0.3rem 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    min-height: 17rem;
}
.list {
  max-height: 17rem;
  overflow-y: auto;
  padding-right: 0.5rem;
}

.list::-webkit-scrollbar {
  width: 5px;
}

.list::-webkit-scrollbar-thumb {
  background: var(--pink);
  border-radius: 3px;
}

.tip {
    width: 85%;
    margin: 0 auto;
}

/* #endregion */

/* *__=============== items ===============__ */
/* #region */
.item {
    background-color: var(--item-bg);
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: 0 auto;
    padding: 0.3rem 1rem;
    transition: background 500ms ease;
    border-radius: 0.25rem;
    box-shadow: 0 0 5px 1px #0000003e;
}

.item:hover {
    background-color: var(--item-hover);
}

.doneList .itemText {
    opacity: 0.7;
    color: var(--orange);
}

.btns {
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

.itemText {
    user-select: none;
}

.editInput {
    width: 100%;
    outline: none;
    color: var(--pink);
    background-color: unset;
    padding-left: 0.5rem;
    font-size: 1rem;
}

.editInput:focus {
    border: 1px solid var(--pink);
}


/* #endregion */


/* *__=============== dragging ===============__ */
/* #region  */
.draging {
    background: var(--gradient);

}

.drag-over {
    background: var(--item-hover)
}

/* #endregion */