@import 'tailwindcss';

@theme {
  --color-text-color: #333;
  --color-itemBg: rgba(255, 255, 255, 0.35);
  --color-tableBg: rgba(255, 255, 255, 0.4);
  --color-itemBgActive: #d8afbf;
  --color-primary: #c7365f;
  --color-primary2: #c6446a;
  --color-border: #b26d94;
}

@layer base {
  body{
    background-image: linear-gradient(315deg, #753682 0%, #bf2e34 100%);
    /* height: 100vh; */
  }
  #root {
    font-family: Arial, Helvetica, sans-serif;

    /**___ when open dev tool in browser bgColor wont't work well ___ **/
    @apply w-full text-text-color
    /* @apply w-full h-[100%] text-text-color */
  }

  h3 {
    @apply text-4xl uppercase
  }

  button {
    @apply bg-[#ffffffaa] px-6 py-2 rounded-4xl absolute cursor-pointer
  }

  td, th {
    @apply border-2 border-[#9e7590] py-2.5
  }

  th {
    background-color: rgba(255, 255, 255, 0.338);
  }
}

@layer components {
  .player {
    @apply bg-itemBg grid justify-items-center py-20 gap-6 flex-1 duration-150 transition
  } 

  .score {
    @apply text-6xl text-primary
  }

  .dice-con {
    @apply w-25 h-25 rounded-md overflow-hidden
  }

  .score-box {
    @apply grid justify-items-center bg-primary2 px-10 py-4 rounded transition-all
  }

  .current {
    @apply uppercase text-white
  }

  .sumNumber {
    @apply text-3xl text-white
  }

  .btn {
    @apply bg-[#ffffffaa] px-6 py-2 rounded-4xl absolute cursor-pointer max-sm:text-xs
  }

  /*** ________ dice ________ ***/
  /* #region */
  .dice {
    position: absolute;
    width:  100px;
    height: 100px;
    transform-style: preserve-3d;
    transition: transform 1s;
  }

  .dot {
    position: absolute;
    width: 20px;
    height: 20px;
    margin: -10px 5px 5px -10px;
    border-radius: 20px;
    background-color: #f25f5c;
    box-shadow: inset 2px 2px #d90429;
  }

  .side {
    position: absolute;
    background-color: #ffF;
    border-radius: 5px;
    width: 100px;
    height: 100px;
    border: 1px solid #e5e5e5;
    text-align: center;
    line-height: 2em;
  }

  .side:nth-child(1) {
    transform: translateZ(3.1em);
  }

  .side:nth-child(6) {
    transform: rotateY(90deg) translateZ(3.1em);
  }

  .side:nth-child(3) {
    transform: rotateY(-90deg) translateZ(3.1em);
  }

  .side:nth-child(4) {
    transform: rotateX(90deg) translateZ(3.1em);
  }

  .side:nth-child(5) {
    transform: rotateX(-90deg) translateZ(3.1em);
  }

  .side:nth-child(2) {
    transform: rotateY(-180deg) translateZ(3.1em);
  }

  .show-1 {
    transform: rotateX(720deg) rotateZ(-720deg);
  }

  .show-2 {
    transform: rotateX(-900deg) rotateZ(1080deg);
  }

  .show-3 {
    transform: rotateY(810deg) rotateZ(720deg);
  }

  .show-4 {
    transform: rotateX(-810deg) rotateZ(-1080deg);
  }

  .show-5 {
    transform: rotateX(450deg) rotateZ(-720deg);
  }

  .show-6 {
    transform: rotateY(-450deg) rotateZ(-1440deg);
  }
  .show-rotate {
    transform: rotateY(100deg) rotateZ(-100deg);
  }

  .two-1,
  .three-1,
  .four-1,
  .five-1,
  .six-1 {
    top: 20%;
    left: 20%;
  }

  .four-3,
  .five-3,
  .six-4 {
    top: 20%;
    left: 80%;
  }

  .one-1,
  .three-2,
  .five-5 {
    top: 50%;
    left: 50%;
  }

  .four-2,
  .five-2,
  .six-3 {
    top: 80%;
    left: 20%;
  }

  .two-2,
  .three-3,
  .four-4,
  .five-4,
  .six-6 {
    top: 80%;
    left: 80%;
  }

  .six-2 {
    top: 50%;
    left: 20%;
  }

  .six-5 {
    top: 50%;
    left: 80%;
  }

  /* #endregion */

}