@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  #body {
    @apply dark:bg-gray-500 bg-white;
  }

  h1 {
    @apply text-3xl font-bold mb-4;
  }

  h2 {
    @apply text-2xl font-semibold mb-3;
  }

  h3 {
    @apply text-xl font-semibold mb-2;
  }

  p {
    @apply text-base leading-relaxed mb-2;
  }

  a {
    @apply text-blue-600 hover:underline;
  }

  input,
  textarea,
  select {
    @apply border bg-gray-300 border-gray-300 rounded-md p-2 w-full focus:outline-none focus:ring-2 focus:ring-blue-600 hover:ring-2 hover:ring-blue-400 duration-300;
  }

  button,
  input[type="submit"] {
    @apply bg-blue-600 text-white font-medium px-4 py-2 rounded-md hover:bg-blue-700 active:bg-blue-800 transition-colors cursor-pointer border-0 ring-0;
  }

  label {
    @apply block text-sm font-medium text-gray-700 mb-1;
  }

  svg {
    @apply w-9 aspect-square
  }
}

@layer components {
  .big-title {
    @apply uppercase text-center text-9xl pt-30;
  }

  .nav-link {
    @apply text-xl border-2 p-2 rounded-2xl;
  }

  .cart-icon {
    @apply text-black border-2 rounded-2xl p-1.5 hover:scale-110 duration-300;
  }

}
#ad {
  /* background: rgba(255, 255, 255, 0.25); */
  backdrop-filter: blur(80px);
  -webkit-backdrop-filter: blur(80px);
  /* border-radius: 12px; */
  /* border: 1px solid rgba(255, 255, 255, 0.15); */
  /* padding: 16px; */
}