@import 'tailwindcss';


@layer base {
  body {
    font-family: Arial, Helvetica, sans-serif;
    @apply bg-stone-800 text-white text-2xl text-center mt-25
  }

  h1 {
    font-size: 4rem;
  }

  button {
    @apply text-[1.5rem] font-bold rounded-md cursor-pointer transition duration-500
  }
}
@layer components{
  .move-button{
    @apply bg-sky-600 p-1
  }
}