@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --radius: 1rem;

  --background: rgb(255 255 255);
  --foreground: rgb(0 0 0);
  --card: rgba(247, 249, 251, 1);
  --card-foreground: rgb(0 0 0);
  --popover: rgb(255 255 255);
  --popover-foreground: rgb(0 0 0);
  --primary: rgba(227, 245, 255, 1);
  --primary-foreground: rgba(28, 28, 28, 1);
  --secondary: rgba(229, 236, 246, 1);
  --secondary-foreground: rgba(28, 28, 28, 1);
  --muted: rgba(28, 28, 28, 0.2);
  --muted-foreground: rgba(28, 28, 28, 0.4);
  --accent: rgb(243, 243, 243);
  --accent-foreground: rgb(0 0 0);
  --destructive: rgb(255 71 71);
  --border: rgb(230 230 230);
  --input: rgb(243, 243, 243);
  --ring: rgb(228, 229, 231);
  --chart-1: rgba(149, 164, 252, 1);
  --chart-2: rgba(186, 237, 189, 1);
  --chart-3: rgba(28, 28, 28, 1);
  --chart-4: rgba(177, 227, 255, 1);
  --chart-5: rgba(168, 197, 218, 1);
  --chart-6: rgba(161, 227, 203, 1);
  --sidebar: var(--background);
  --sidebar-foreground: var(--foreground);
  --sidebar-primary: var(--primary);
  --sidebar-primary-foreground: var(--primary-foreground);
  --sidebar-accent: var(--accent);
  --sidebar-accent-foreground: var(--accent-foreground);
  --sidebar-border: var(--border);
  --sidebar-ring: var(--ring);
}

.dark {
  --background: rgba(28, 28, 28, 1);
  --foreground: rgb(235 235 235);
  --card: rgb(38 38 38);
  --card-foreground: rgb(235 235 235);
  --popover: rgb(38 38 38);
  --popover-foreground: rgb(235 235 235);
  --primary: rgb(229, 246, 255);
  --primary-foreground: rgba(28, 28, 28, 1);
  --secondary: rgba(229, 236, 246, 1);
  --secondary-foreground: rgba(28, 28, 28, 1);
  --muted: rgba(255, 255, 255, 0.2);
  --muted-foreground: rgba(255, 255, 255, 0.4);
  --accent: rgba(255, 255, 255, 0.1);
  --accent-foreground: rgb(235 235 235);
  --border: rgb(55 55 55);
  --input: rgba(255, 255, 255, 0.1);
  --ring: rgb(57, 57, 57);
  --chart-1: rgba(149, 164, 252, 1);
  --chart-2: rgba(186, 237, 189, 1);
  --chart-3: rgba(198, 199, 248, 1);
  --chart-4: rgba(177, 227, 255, 1);
  --chart-5: rgba(168, 197, 218, 1);
  --chart-6: rgba(161, 227, 203, 1);
  /* --chart-1: rgba(198, 199, 248, 1);
  --chart-2: rgba(168, 197, 218, 1);
  --chart-3: rgba(198, 19, 248, 1);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08); */
}

@theme inline {
  --font-inter: 'Inter', 'sans-serif';
  --font-manrope: 'Manrope', 'sans-serif';

  --radius-xs: calc(var(--radius) - 8px);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-chart-6: var(--chart-6);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --breakpoint-ns: 42.5rem;
  --breakpoint-xs: 84.5rem;
  --breakpoint-lg: 1050px;
}


/* @layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }

  h1 {
    @apply scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl;
  }

  h2 {
    @apply scroll-m-20 pb-2 text-3xl font-semibold tracking-tight;
  }

  h3 {
    @apply scroll-m-20 text-2xl font-semibold tracking-tight;
  }

  h4 {
    @apply scroll-m-20 text-xl font-semibold;
  }

  h5 {
    @apply scroll-m-20 text-lg font-semibold;
  }

  h6 {
    @apply scroll-m-20 text-sm font-semibold;
  }

  p {
    @apply scroll-m-20 text-sm;
  }

  small {
    @apply scroll-m-20 text-xs;
  }
  figcaption {
    @apply scroll-m-20 text-xs text-muted-foreground;
  }

} */

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }

  h1 {
    @apply scroll-m-20 text-3xl sm:text-4xl lg:text-5xl font-extrabold tracking-tight;
  }

  h2 {
    @apply scroll-m-20 pb-1 sm:pb-2 text-2xl sm:text-3xl font-semibold tracking-tight;
  }

  h3 {
    @apply scroll-m-20 text-xl sm:text-2xl font-semibold tracking-tight;
  }

  h4 {
    @apply scroll-m-20 text-lg sm:text-xl font-semibold;
  }

  h5 {
    @apply scroll-m-20 text-base sm:text-lg font-semibold;
  }

  h6 {
    @apply scroll-m-20 text-sm font-semibold;
  }

  p {
    @apply scroll-m-20 text-sm sm:text-base leading-relaxed;
  }

  small {
    @apply scroll-m-20 text-xs sm:text-sm;
  }

  figcaption {
    @apply scroll-m-20 text-xs sm:text-sm text-muted-foreground;
  }
}

@layer components {
  .overflow-auto::-webkit-scrollbar {
    @apply bg-transparent size-4;
  }

  .overflow-auto::-webkit-scrollbar-thumb {
    @apply bg-muted/80 rounded-lg;
    border: 4px solid transparent;
    background-clip: padding-box;
  }

  .overflow-auto::-webkit-scrollbar-track {
    @apply bg-transparent
  }

  .overflow-auto::-webkit-scrollbar-corner {
    @apply bg-transparent
  }

  .col-flex {
    @apply flex flex-col;
  }

  .flex-center {
    @apply flex justify-center items-center;
  }
}